<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/actividad7.css" type="text/css"/>
    <title>Formulario</title>
</head>
<body>
    <header class="container-fluid" id="encabezado">
        <h1>ENCUESTA FRAMEWORKS</h1>
        <h5>Luis Ángel Calvillo León - EVN401</h5>
    </header>
    <section class="container" id="cuerpo">
        <label>
            <h5>¿Te gusta Programar?</h5>
            SI<input type="radio" name="gustoProgramacion" value="si" v-model="primeraRespuesta">
            NO<input type="radio" name="gustoProgramacion" value="no" v-model="primeraRespuesta">
        </label>
        <div v-show="primeraRespuesta=='si'">
            <br>
            <label>
                <h5>¿Cuanto llevas programando?</h5>
                <input type="number" name="añosProgramando" class="form-control" v-model="anios">
            </label>
            <br>
            <label v-if="anios < 2">
                <h5>¿Qué te motiva a programar?</h5>
                <textarea class="form-control" class="motivarProgramar" v-model="motiva"></textarea>
            </label>
            <label v-if="anios >= 2">
                <h5>Cuentanos tu experiencia programando</h5>
                <textarea class="form-control" class="experiencia" v-model="experiencia"></textarea>
            </label>
            <br>
            <label>
                <h5>¿Cuantos lenguajes de programación conoces? Escribe uno a uno</h5>
                <input type="text" name="añosProgramando" class="form-control" v-model="lenguaje"><br>
                <input type="button" value="Agregar" class="btn btn-warning" @click="lenguajes()">
            </label>
        </div>
        <div v-show="primeraRespuesta=='no'">
            <label><h1>Gracias por apoyarnos</h1></label>
        </div>
        <div v-show="primeraRespuesta=='si'" id="resultado" class="container">
            <h1>En resumen</h1>
            <p>Le gusta programar: Si</p>
            <p>Años programando: {{anios}}</p>
            <p>¿Que le motiva a programar?: {{motiva}}</p>
            <p>Experiencia en la programación: {{experiencia}}</p>
            <p>Lenguajes conocidos:</p>
            <ul class="list-groups">
                <li class="list-group-item" v-for="(dato, index) in datos" :key="index">{{dato}} <span class="badge">{{index+1}}</span></li>
            </ul>
        </div>
    </section>
    <script src="js/actividad7.js"></script>
</body>
</html>